<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koolearn.klibrary.ui.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.koolearn.android.kooreader.KooReaderApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.koolearn.android.kooreader.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.koolearn.android.kooreader.KooReader"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.kooreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="kooreader-action" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.kooreader.action.CLOSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.PLUGIN_CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.koolearn.android.kooreader.book.BookDetailActivity" />
        <activity
            android:name="com.koolearn.android.kooreader.TOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.koolearn.android.kooreader.preferences.PreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":preferences">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="kooreader-preferences" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.kooreader.action.PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.koolearn.klibrary.ui.android.error.BugReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="KooReader crash"
            android:process=":crash" />
        <activity
            android:name="com.koolearn.android.kooreader.library.LibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":library">
            <intent-filter>
                <action android:name="android.kooreader.action.LIBRARY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.koolearn.android.kooreader.bookmark.EditBookmarkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/KooReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_BOOKMARK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.koolearn.android.kooreader.bookmark.EditStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/KooReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_STYLES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.koolearn.android.kooreader.libraryService.LibraryService"
            android:launchMode="singleTask"
            android:process=":libraryService">
            <intent-filter>
                <action android:name="android.kooreader.action.LIBRARY_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.koolearn.android.kooreader.config.ConfigService"
            android:launchMode="singleTask"
            android:process=":configService">
            <intent-filter>
                <action android:name="android.kooreader.action.CONFIG_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>
